@mixin sizer($h) {
    &:before {
        content: '';
        display: block;
        padding-top: $h;
    }
}
@mixin fullBg($url) {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../dist/#{$url}');
}