$white: #fff;
$lightGold: #dbd4ce;
$gold: #c2986d;
$txtColor: #333;
$black: #000;
$red: #f0684e;
$graphiteBg: #242424;

$smooth: ease-in-out;
$smooth2: ease-in-out;
$swoosh: cubic-bezier(1,.08,.33,.95);
$extraSmooth: cubic-bezier(0.21, 0.67, 0.65, 0.99);

$tomobile: 'max-width: 768px';
$tolarge: 'max-width: 1200px';
$totablet: 'max-width: 1024px';
$tolaptop: 'max-width: 1600px';
$tosmall: 'max-width: 500px';

